BCICIV_2a_gdf.zip
BCIC_IV_2a/
BCIC_IV_2a_raw/Sub9_labels.txt
BCIC_IV_2a_raw/Sub9_data.txt
BCIC_IV_2a_raw/Sub8_labels.txt
BCIC_IV_2a_raw/Sub8_data.txt
BCIC_IV_2a_raw/Sub7_labels.txt
BCIC_IV_2a_raw/Sub7_data.txt
BCIC_IV_2a_raw/Sub6_labels.txt
BCIC_IV_2a_raw/Sub6_data.txt
BCIC_IV_2a_raw/Sub5_labels.txt
BCIC_IV_2a_raw/Sub5_data.txt
BCIC_IV_2a_raw/Sub4_labels.txt
BCIC_IV_2a_raw/Sub4_data.txt
BCIC_IV_2a_raw/Sub3_labels.txt
BCIC_IV_2a_raw/Sub3_data.txt
BCIC_IV_2a_raw/Sub2_labels.txt
BCIC_IV_2a_raw/Sub2_data.txt
BCIC_IV_2a_raw/Sub1_labels.txt
BCIC_IV_2a_raw/Sub1_data.txt
BCIC_IV_2a_raw/Sub18_labels.txt
BCIC_IV_2a_raw/Sub18_data.txt
BCIC_IV_2a_raw/Sub17_labels.txt
BCIC_IV_2a_raw/Sub17_data.txt
BCIC_IV_2a_raw/Sub16_labels.txt
BCIC_IV_2a_raw/Sub16_data.txt
BCIC_IV_2a_raw/Sub15_labels.txt
BCIC_IV_2a_raw/Sub15_data.txt
BCIC_IV_2a_raw/Sub14_labels.txt
BCIC_IV_2a_raw/Sub14_data.txt
BCIC_IV_2a_raw/Sub13_labels.txt
BCIC_IV_2a_raw/Sub13_data.txt
BCIC_IV_2a_raw/Sub12_labels.txt
BCIC_IV_2a_raw/Sub12_data.txt
BCIC_IV_2a_raw/Sub11_labels.txt
BCIC_IV_2a_raw/Sub11_data.txt
BCIC_IV_2a_raw/Sub10_labels.txt
BCIC_IV_2a_raw/Sub10_data.txt
